:root{
    --primary-color : #235347;
    --secondary-color : #8EB69B;
    --text-color : #DAF1DE;
    --tertiary-color : #163832;
    --color-4 : #0B2B26;
    --color-5 : #051F20;
    --grey : #959697;
    --green-hours : #d4edda;
}

.region:hover{
    fill: var(--primary-color);
    stroke: var(--primary-color);
    cursor: pointer;
}

.tooltip{
    position: fixed;
    pointer-events: none;
    background-color: #0c6146;
    border-radius:  8px;
    
    color: white;
    opacity: 0;
    transition: opacity 0.2s ;
    padding: 8px;

}

.map{
    fill:var(--secondary-color);
    stroke-width: 1px;
    stroke: #235347;
}

.cardVille{
    opacity: 0;
}

body{
    padding: 0;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}

.inputactive:active{
    border-color: #0c6146;
}

/* Le Tableau de la page A Propos */

 table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


th {
    background-color: #f8f9fa;
    color: #6c757d;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #e9ecef;
}

td {
    padding: 20px;
    border-bottom: 1px solid #e9ecef;
    color: #333;
    font-size: 14px;
}

tr:last-child td {
            border-bottom: none;
        }

        tr:hover {
            background-color: #f8f9fa;
        }


/* Go Out Lien page A Propos*/

.goout{
    color: black;
    text-decoration: none;
}

.goout:hover{
    text-decoration: underline;
}

/* Les bordures de couleur */

.border-black   { border-color: #000000; }

/* Les position */

.absolute{position: absolute;}
.relative{position: relative;}

.playfair{font-family: 'Playfair Display', serif;}

.text-color{color: var(--text-color);}
.primary-color{color: var(--primary-color);}
.secondary-color{color: var(--secondary-color);}
.grey{color: var(--grey);}

.hover-link:hover{color: var(--text-color);}
.hoverbtn:hover{background-color: #0c6146; cursor: pointer; scale: 1.04;}

/* Les bordure */
.rounded       { border-radius: 0.25rem; }   /* 4px */
.rounded-md    { border-radius: 0.375rem; }  /* 6px */
.rounded-lg    { border-radius: 0.5rem; }    /* 8px */
.rounded-xl    { border-radius: 0.75rem; }   /* 12px */
.rounded-2xl   { border-radius: 1rem; }      /* 16px */
.rounded-3xl   { border-radius: 1.5rem; }    /* 24px */
.rounded-full  { border-radius: 9999px; }    /* Cercle */

/* Les taille de bordure */

.border     { border-width: 1px; }
.border-0   { border-width: 0px; }
.border-2   { border-width: 2px; }
.border-4   { border-width: 4px; }
.border-8   { border-width: 8px; }


/* Background Colors */
.bg-transparent {background-color: transparent;}
.bg-black   { background-color: #000000; }
.bg-white   { background-color: #ffffff; }
.bg-green {background-color: var(--primary-color);}
.bg-grey {background-color: #959697;}
.bg-green-hours {background-color: var(--green-hours);}

/* Text color */

.text-black  { color: #000000; }
.text-white   { color: #ffffff; }
.text-primary { color: var(--primary-color); }

/* Padding global */

.p-0   { padding: 0px; }
.p-0_5 { padding: 2px; }
.p-1   { padding: 4px; }
.p-1_5 { padding: 6px; }
.p-2   { padding: 8px; }
.p-2_5 { padding: 10px; }
.p-3   { padding: 12px; }
.p-3_5 { padding: 14px; }
.p-4   { padding: 16px; }
.p-5   { padding: 20px; }
.p-6   { padding: 24px; }
.p-7   { padding: 28px; }
.p-8   { padding: 32px; }
.p-9   { padding: 36px; }
.p-10  { padding: 40px; }
.p-11  { padding: 44px; }
.p-12  { padding: 48px; }
.p-14  { padding: 56px; }
.p-16  { padding: 64px; }
.p-20  { padding: 80px; }
.p-24  { padding: 96px; }
.p-28  { padding: 112px; }
.p-32  { padding: 128px; }
.p-36  { padding: 144px; }
.p-40  { padding: 160px; }
.p-44  { padding: 176px; }
.p-48  { padding: 192px; }
.p-52  { padding: 208px; }
.p-56  { padding: 224px; }
.p-60  { padding: 240px; }
.p-64  { padding: 256px; }
.p-72  { padding: 288px; }
.p-80  { padding: 320px; }
.p-96  { padding: 384px; }

/* Padding horizontal */

.px-0   { padding-left: 0px;   padding-right: 0px; }
.px-0_5 { padding-left: 2px;   padding-right: 2px; }
.px-1   { padding-left: 4px;   padding-right: 4px; }
.px-1_5 { padding-left: 6px;   padding-right: 6px; }
.px-2   { padding-left: 8px;   padding-right: 8px; }
.px-2_5 { padding-left: 10px;  padding-right: 10px; }
.px-3   { padding-left: 12px;  padding-right: 12px; }
.px-3_5 { padding-left: 14px;  padding-right: 14px; }
.px-4   { padding-left: 16px;  padding-right: 16px; }
.px-5   { padding-left: 20px;  padding-right: 20px; }
.px-6   { padding-left: 24px;  padding-right: 24px; }
.px-7   { padding-left: 28px;  padding-right: 28px; }
.px-8   { padding-left: 32px;  padding-right: 32px; }
.px-9   { padding-left: 36px;  padding-right: 36px; }
.px-10  { padding-left: 40px;  padding-right: 40px; }
.px-11  { padding-left: 44px;  padding-right: 44px; }
.px-12  { padding-left: 48px;  padding-right: 48px; }
.px-14  { padding-left: 56px;  padding-right: 56px; }
.px-16  { padding-left: 64px;  padding-right: 64px; }
.px-20  { padding-left: 80px;  padding-right: 80px; }
.px-24  { padding-left: 96px;  padding-right: 96px; }
.px-28  { padding-left: 112px; padding-right: 112px; }
.px-32  { padding-left: 128px; padding-right: 128px; }
.px-36  { padding-left: 144px; padding-right: 144px; }
.px-40  { padding-left: 160px; padding-right: 160px; }
.px-44  { padding-left: 176px; padding-right: 176px; }
.px-48  { padding-left: 192px; padding-right: 192px; }
.px-52  { padding-left: 208px; padding-right: 208px; }
.px-56  { padding-left: 224px; padding-right: 224px; }
.px-60  { padding-left: 240px; padding-right: 240px; }
.px-64  { padding-left: 256px; padding-right: 256px; }
.px-72  { padding-left: 288px; padding-right: 288px; }
.px-80  { padding-left: 320px; padding-right: 320px; }
.px-96  { padding-left: 384px; padding-right: 384px; }

/* Padding vertical  */

.py-0   { padding-top: 0px;   padding-bottom: 0px; }
.py-0_5 { padding-top: 2px;   padding-bottom: 2px; }
.py-1   { padding-top: 4px;   padding-bottom: 4px; }
.py-1_5 { padding-top: 6px;   padding-bottom: 6px; }
.py-2   { padding-top: 8px;   padding-bottom: 8px; }
.py-2_5 { padding-top: 10px;  padding-bottom: 10px; }
.py-3   { padding-top: 12px;  padding-bottom: 12px; }
.py-3_5 { padding-top: 14px;  padding-bottom: 14px; }
.py-4   { padding-top: 16px;  padding-bottom: 16px; }
.py-5   { padding-top: 20px;  padding-bottom: 20px; }
.py-6   { padding-top: 24px;  padding-bottom: 24px; }
.py-7   { padding-top: 28px;  padding-bottom: 28px; }
.py-8   { padding-top: 32px;  padding-bottom: 32px; }
.py-9   { padding-top: 36px;  padding-bottom: 36px; }
.py-10  { padding-top: 40px;  padding-bottom: 40px; }
.py-11  { padding-top: 44px;  padding-bottom: 44px; }
.py-12  { padding-top: 48px;  padding-bottom: 48px; }
.py-14  { padding-top: 56px;  padding-bottom: 56px; }
.py-16  { padding-top: 64px;  padding-bottom: 64px; }
.py-20  { padding-top: 80px;  padding-bottom: 80px; }
.py-24  { padding-top: 96px;  padding-bottom: 96px; }
.py-28  { padding-top: 112px; padding-bottom: 112px; }
.py-32  { padding-top: 128px; padding-bottom: 128px; }
.py-36  { padding-top: 144px; padding-bottom: 144px; }
.py-40  { padding-top: 160px; padding-bottom: 160px; }
.py-44  { padding-top: 176px; padding-bottom: 176px; }
.py-48  { padding-top: 192px; padding-bottom: 192px; }
.py-52  { padding-top: 208px; padding-bottom: 208px; }
.py-56  { padding-top: 224px; padding-bottom: 224px; }
.py-60  { padding-top: 240px; padding-bottom: 240px; }
.py-64  { padding-top: 256px; padding-bottom: 256px; }
.py-72  { padding-top: 288px; padding-bottom: 288px; }
.py-80  { padding-top: 320px; padding-bottom: 320px; }
.py-96  { padding-top: 384px; padding-bottom: 384px; }


/* Margin global */

.m-0   { margin: 0px; }
.m-0_5 { margin: 2px; }
.m-1   { margin: 4px; }
.m-1_5 { margin: 6px; }
.m-2   { margin: 8px; }
.m-2_5 { margin: 10px; }
.m-3   { margin: 12px; }
.m-3_5 { margin: 14px; }
.m-4   { margin: 16px; }
.m-5   { margin: 20px; }
.m-6   { margin: 24px; }
.m-7   { margin: 28px; }
.m-8   { margin: 32px; }
.m-9   { margin: 36px; }
.m-10  { margin: 40px; }
.m-11  { margin: 44px; }
.m-12  { margin: 48px; }
.m-14  { margin: 56px; }
.m-16  { margin: 64px; }
.m-20  { margin: 80px; }
.m-24  { margin: 96px; }
.m-28  { margin: 112px; }
.m-32  { margin: 128px; }
.m-36  { margin: 144px; }
.m-40  { margin: 160px; }
.m-44  { margin: 176px; }
.m-48  { margin: 192px; }
.m-52  { margin: 208px; }
.m-56  { margin: 224px; }
.m-60  { margin: 240px; }
.m-64  { margin: 256px; }
.m-72  { margin: 288px; }
.m-80  { margin: 320px; }
.m-96  { margin: 384px; }

/* Margin horizontal */

.mx-0   { margin-left: 0px;   margin-right: 0px; }
.mx-0_5 { margin-left: 2px;   margin-right: 2px; }
.mx-1   { margin-left: 4px;   margin-right: 4px; }
.mx-1_5 { margin-left: 6px;   margin-right: 6px; }
.mx-2   { margin-left: 8px;   margin-right: 8px; }
.mx-2_5 { margin-left: 10px;  margin-right: 10px; }
.mx-3   { margin-left: 12px;  margin-right: 12px; }
.mx-3_5 { margin-left: 14px;  margin-right: 14px; }
.mx-4   { margin-left: 16px;  margin-right: 16px; }
.mx-5   { margin-left: 20px;  margin-right: 20px; }
.mx-6   { margin-left: 24px;  margin-right: 24px; }
.mx-7   { margin-left: 28px;  margin-right: 28px; }
.mx-8   { margin-left: 32px;  margin-right: 32px; }
.mx-9   { margin-left: 36px;  margin-right: 36px; }
.mx-10  { margin-left: 40px;  margin-right: 40px; }
.mx-11  { margin-left: 44px;  margin-right: 44px; }
.mx-12  { margin-left: 48px;  margin-right: 48px; }
.mx-14  { margin-left: 56px;  margin-right: 56px; }
.mx-16  { margin-left: 64px;  margin-right: 64px; }
.mx-20  { margin-left: 80px;  margin-right: 80px; }
.mx-24  { margin-left: 96px;  margin-right: 96px; }
.mx-28  { margin-left: 112px; margin-right: 112px; }
.mx-32  { margin-left: 128px; margin-right: 128px; }
.mx-36  { margin-left: 144px; margin-right: 144px; }
.mx-40  { margin-left: 160px; margin-right: 160px; }
.mx-44  { margin-left: 176px; margin-right: 176px; }
.mx-48  { margin-left: 192px; margin-right: 192px; }
.mx-52  { margin-left: 208px; margin-right: 208px; }
.mx-56  { margin-left: 224px; margin-right: 224px; }
.mx-60  { margin-left: 240px; margin-right: 240px; }
.mx-64  { margin-left: 256px; margin-right: 256px; }
.mx-72  { margin-left: 288px; margin-right: 288px; }
.mx-80  { margin-left: 320px; margin-right: 320px; }
.mx-96  { margin-left: 384px; margin-right: 384px; }

/* Margin vertical  */

.my-0   { margin-top: 0px;   margin-bottom: 0px; }
.my-0_5 { margin-top: 2px;   margin-bottom: 2px; }
.my-1   { margin-top: 4px;   margin-bottom: 4px; }
.my-1_5 { margin-top: 6px;   margin-bottom: 6px; }
.my-2   { margin-top: 8px;   margin-bottom: 8px; }
.my-2_5 { margin-top: 10px;  margin-bottom: 10px; }
.my-3   { margin-top: 12px;  margin-bottom: 12px; }
.my-3_5 { margin-top: 14px;  margin-bottom: 14px; }
.my-4   { margin-top: 16px;  margin-bottom: 16px; }
.my-5   { margin-top: 20px;  margin-bottom: 20px; }
.my-6   { margin-top: 24px;  margin-bottom: 24px; }
.my-7   { margin-top: 28px;  margin-bottom: 28px; }
.my-8   { margin-top: 32px;  margin-bottom: 32px; }
.my-9   { margin-top: 36px;  margin-bottom: 36px; }
.my-10  { margin-top: 40px;  margin-bottom: 40px; }
.my-11  { margin-top: 44px;  margin-bottom: 44px; }
.my-12  { margin-top: 48px;  margin-bottom: 48px; }
.my-14  { margin-top: 56px;  margin-bottom: 56px; }
.my-16  { margin-top: 64px;  margin-bottom: 64px; }
.my-20  { margin-top: 80px;  margin-bottom: 80px; }
.my-24  { margin-top: 96px;  margin-bottom: 96px; }
.my-28  { margin-top: 112px; margin-bottom: 112px; }
.my-32  { margin-top: 128px; margin-bottom: 128px; }
.my-36  { margin-top: 144px; margin-bottom: 144px; }
.my-40  { margin-top: 160px; margin-bottom: 160px; }
.my-44  { margin-top: 176px; margin-bottom: 176px; }
.my-48  { margin-top: 192px; margin-bottom: 192px; }
.my-52  { margin-top: 208px; margin-bottom: 208px; }
.my-56  { margin-top: 224px; margin-bottom: 224px; }
.my-60  { margin-top: 240px; margin-bottom: 240px; }
.my-64  { margin-top: 256px; margin-bottom: 256px; }
.my-72  { margin-top: 288px; margin-bottom: 288px; }
.my-80  { margin-top: 320px; margin-bottom: 320px; }
.my-96  { margin-top: 384px; margin-bottom: 384px; }

/* Les display */

.block        { display: block; }
.inline       { display: inline; }
.inline-block { display: inline-block; }
.flex         { display: flex; }
.inline-flex  { display: inline-flex; }
.grid { display: grid; }

/* Les justify */

.justify-start   { justify-content: flex-start; }
.justify-end     { justify-content: flex-end; }
.justify-center  { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around  { justify-content: space-around; }
.justify-evenly  { justify-content: space-evenly; }

/* Les align */

.items-start    { align-items: flex-start; }
.items-end      { align-items: flex-end; }
.items-center   { align-items: center; }
.items-baseline { align-items: baseline; }
.items-stretch  { align-items: stretch; }

/* les taille de texte */

.text-xs   { font-size: 0.75rem;   line-height: 1rem; }     
.text-sm   { font-size: 0.875rem;  line-height: 1.25rem; }  
.text-base { font-size: 1rem;      line-height: 1.5rem; }  
.text-lg   { font-size: 1.125rem;  line-height: 1.75rem; }  
.text-xl   { font-size: 1.25rem;   line-height: 1.75rem; }  
.text-2xl  { font-size: 1.5rem;    line-height: 2rem; }     
.text-3xl  { font-size: 1.875rem;  line-height: 2.25rem; }  
.text-4xl  { font-size: 2.25rem;   line-height: 2.5rem; }   
.text-5xl  { font-size: 3rem;      line-height: 1; }        
.text-6xl  { font-size: 3.75rem;   line-height: 1; }       
.text-7xl  { font-size: 4.5rem;    line-height: 1; }        
.text-8xl  { font-size: 6rem;      line-height: 1; }       
.text-9xl  { font-size: 8rem;      line-height: 1; }       

/* Alignement de text */

.text-left    { text-align: left; }
.text-center  { text-align: center; }
.text-right   { text-align: right; }
.text-justify { text-align: justify; }

/* Les graisse */

.font-extralight { font-weight: 200; }
.font-light      { font-weight: 300; }
.font-normal     { font-weight: 400; }
.font-medium     { font-weight: 500; }
.font-semibold   { font-weight: 600; }
.font-bold       { font-weight: 700; }
.font-extrabold  { font-weight: 800; }
.font-black      { font-weight: 900; }

/* text decoration */

.underline        { text-decoration: underline; }
.overline         { text-decoration: overline; }
.line-through     { text-decoration: line-through; }
.no-underline     { text-decoration: none; }

/* Gap général */
.gap-0    { gap: 0px; }
.gap-0_5  { gap: 2px; }
.gap-1    { gap: 4px; }
.gap-1_5  { gap: 6px; }
.gap-2    { gap: 8px; }
.gap-2_5  { gap: 10px; }
.gap-3    { gap: 12px; }
.gap-3_5  { gap: 14px; }
.gap-4    { gap: 16px; }
.gap-5    { gap: 20px; }
.gap-6    { gap: 24px; }
.gap-7    { gap: 28px; }
.gap-8    { gap: 32px; }
.gap-9    { gap: 36px; }
.gap-10   { gap: 40px; }
.gap-11   { gap: 44px; }
.gap-12   { gap: 48px; }
.gap-14   { gap: 56px; }
.gap-16   { gap: 64px; }
.gap-20   { gap: 80px; }
.gap-24   { gap: 96px; }
.gap-28   { gap: 112px; }
.gap-32   { gap: 128px; }
.gap-36   { gap: 144px; }
.gap-40   { gap: 160px; }
.gap-44   { gap: 176px; }
.gap-48   { gap: 192px; }
.gap-52   { gap: 208px; }
.gap-56   { gap: 224px; }
.gap-60   { gap: 240px; }
.gap-64   { gap: 256px; }
.gap-72   { gap: 288px; }
.gap-80   { gap: 320px; }
.gap-96   { gap: 384px; }

/* Les grille */

.grid-cols-1  { grid-template-columns: repeat(1, minmax(0, 1fr)); }
.grid-cols-2  { grid-template-columns: repeat(2, minmax(0, 1fr)); }
.grid-cols-3  { grid-template-columns: repeat(3, minmax(0, 1fr)); }
.grid-cols-4  { grid-template-columns: repeat(4, minmax(0, 1fr)); }
.grid-cols-5  { grid-template-columns: repeat(5, minmax(0, 1fr)); }
.grid-cols-6  { grid-template-columns: repeat(6, minmax(0, 1fr)); }
.grid-cols-7  { grid-template-columns: repeat(7, minmax(0, 1fr)); }
.grid-cols-8  { grid-template-columns: repeat(8, minmax(0, 1fr)); }
.grid-cols-9  { grid-template-columns: repeat(9, minmax(0, 1fr)); }
.grid-cols-10 { grid-template-columns: repeat(10, minmax(0, 1fr)); }
.grid-cols-11 { grid-template-columns: repeat(11, minmax(0, 1fr)); }
.grid-cols-12 { grid-template-columns: repeat(12, minmax(0, 1fr)); }


/* Les largeurs fixes */
.w-0     { width: 0px; }
.w-px    { width: 1px; }
.w-0_5   { width: 2px; }
.w-1     { width: 4px; }
.w-1_5   { width: 6px; }
.w-2     { width: 8px; }
.w-2_5   { width: 10px; }
.w-3     { width: 12px; }
.w-3_5   { width: 14px; }
.w-4     { width: 16px; }
.w-5     { width: 20px; }
.w-6     { width: 24px; }
.w-7     { width: 28px; }
.w-8     { width: 32px; }
.w-9     { width: 36px; }
.w-10    { width: 40px; }
.w-11    { width: 44px; }
.w-12    { width: 48px; }
.w-14    { width: 56px; }
.w-16    { width: 64px; }
.w-20    { width: 80px; }
.w-24    { width: 96px; }
.w-28    { width: 112px; }
.w-32    { width: 128px; }
.w-36    { width: 144px; }
.w-40    { width: 160px; }
.w-44    { width: 176px; }
.w-48    { width: 192px; }
.w-52    { width: 208px; }
.w-56    { width: 224px; }
.w-60    { width: 240px; }
.w-64    { width: 256px; }
.w-72    { width: 288px; }
.w-80    { width: 320px; }
.w-96    { width: 384px; }

/* Les largeurs  */
.w-auto   { width: auto; }
.w-full   { width: 100%; }
.w-screen { width: 100vw; }
.min-w-full { min-width: 100%; }
.max-w-full { max-width: 100%; }

.h-full   { height: 100%; }
.h-screen { height: 100vw; }

/* Les Hauteur fixes */
.h-0     { width: 0px; }
.h-px    { width: 1px; }
.h-0_5   { width: 2px; }
.h-1     { width: 4px; }
.h-1_5   { width: 6px; }
.h-2     { width: 8px; }
.h-2_5   { width: 10px; }
.h-3     { width: 12px; }
.h-3_5   { width: 14px; }
.h-4     { width: 16px; }
.h-5     { width: 20px; }
.h-6     { width: 24px; }
.h-7     { width: 28px; }
.h-8     { width: 32px; }
.h-9     { width: 36px; }
.h-10    { width: 40px; }
.h-11    { width: 44px; }
.h-12    { width: 48px; }
.h-14    { width: 56px; }
.h-16    { width: 64px; }
.h-20    { width: 80px; }
.h-24    { width: 96px; }
.h-28    { width: 112px; }
.h-32    { width: 128px; }
.h-36    { width: 144px; }
.h-40    { width: 160px; }
.h-44    { width: 176px; }
.h-48    { width: 192px; }
.h-52    { width: 208px; }
.h-56    { width: 224px; }
.h-60    { width: 240px; }
.h-64    { width: 256px; }
.h-72    { width: 288px; }
.h-80    { width: 320px; }
.h-96    { width: 384px; }


/* position */
.static   { position: static; }
.relative { position: relative; }
.absolute { position: absolute; }
.fixed    { position: fixed; }
.sticky   { position: sticky; }

/* Les z-index */

.z-0    { z-index: 0; }
.z-10   { z-index: 10; }
.z-20   { z-index: 20; }
.z-30   { z-index: 30; }
.z-40   { z-index: 40; }
.z-50   { z-index: 50; }
.z-auto { z-index: auto; }

.flex-col {flex-direction: column;}
